body{
    margin: 0px;
    padding: 0px;
}

#navegador{
    width: 100%;
    height: 100px;
    background-color:#303030;
    font-family: 'inter';
    border: 1px solid black;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #BABABA;
}

#navegador div a{
    font-size: 25px;
    font-weight: 600px;
    color: white;
    text-decoration: none;
}

    #navegador div a:hover{
        color: #CCCCCC;
    }

#navegador button{
    margin-right: 5%;
    width: 80px;
    height: 40px;
    background-color: #0C70F2;
    color: white;
    box-shadow: 3px 2px 4px 0px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}

#menu{
    display: flex;
    width: 55%;
    justify-content: space-around;
}